.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;

}

.App-header {
  background-color: #222;
  color: white;
  padding-top:30px;
}
.left{
  float:left;
  text-align: left;
  padding:10px 30px;
  font-size: 14px;

}
.left span{
      border-left: 30px solid #eee;
      padding-left: 10px;
}
.headingName{
  text-decoration: underline;
  font-size: 18px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
